body {
  background-image: url('../images/paper.png');
  background-size: 200px 200px;
  color: rgba(0, 0, 0, 0.6);
}
.header {
  border-bottom: 3px solid rgba(0, 0, 0, 0.03);
  background-color: rgba(0, 0, 0, 0.09);
  padding: 20px;
}
h4 {
  margin-top: 25px;
}
p {
  text-align: justify;
}
.row {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.02);
  border: 2px solid rgba(0, 0, 0, 0.03);
  padding: 10px 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.has-error {
  color: red;
}
