@accent: rgba(0,0,0,.02);
@accent-border: rgba(0,0,0,.03);
@error: red;
@text-color: rgba(0,0,0,0.6);

body{
  background-image:url('../images/paper.png');
  background-size: 200px 200px;
  color: @text-color;
}

.header{
  border-bottom: 3px solid @accent-border;
  background-color: rgba(0,0,0,.09);
  padding: 20px;
}

h4 {
  margin-top: 25px;
}

p{
  text-align:justify;
}

.row {
  margin-bottom: 20px;
  background-color: @accent;
  border: 2px solid @accent-border;
  padding: 10px 20px;

  .row {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}


.has-error{
  color: @error;
}
