<div  class='col-xs-12'>

  <div class='row add' >
    <h3>{{add.title | capitalize}}</h3>
    <p>{{add.body}}</p>
    <p>
      <img onerror='this.style.display = "none"' ng-src="http://graph.facebook.com/{{add.faceBookId}}/picture?type=large" width="100px" height="150px" class='pull-left'/>
      <p class="glyphicon glyphicon-envelope" aria-hidden="true"></p>
      <a href='mailto:{{add.email}}'>{{add.email}}</a>
      <p ng-show='add.phone'><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>{{add.phone}} </p>
      <p ng-show='add.faceBookId'><a href="http://facebook.com/{{add.faceBookId}}"><img src="images/fb.png" width="160px" height="41px" /></a> </p>
    </p>
  </div>

</div>
