<div  class='col-xs-12 col-sm-6 col-md-8 '>

  <div class='row add' ng-repeat="add in adds | orderBy: 'title'">
    <h3><a href="#/add/{{add.$id}}">{{add.title | capitalize}}</a></h3>
    <p>{{add.body | limitTo: bodyMaxShort}}<span ng-if="add.body.length > bodyMaxShort">...</span></p>
    <p>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      <a href='mailto:{{add.email}}'>{{add.email}}</a>
      <span ng-show='add.phone'>| <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>{{add.phone}} </span>
      <span ng-show='add.faceBookId'>| <a href="http://facebook.com/{{add.faceBookId}}"><img src="images/fb.png" height="15px" /></a> </span>
    </p>
  </div>

</div>
