<div class='col-xs-12 col-sm-6 col-md-4 form-group'>
  <h3>Create your own add - It's free!</h3>
  <p>Fill in the information below, once you are sure, click the publish button and your add will show up for the world to know.</p>
  <form novalidate name='addForm' role='form' ng-submit="addAdd(email, phone, title, body, faceBookId)" ng-class="{ 'has-error' : addForm.title.$required}">

    <label for='title' ng-class="{ 'has-error': myRequired(addForm.title)}">Title:</label>
    <input type='text' name="title" ng-model="title" placeholder='Provide a descriptive title for your add' class='form-control' required/>

    <label for='body' ng-class="{ 'has-error': myRequired(addForm.body)}">Body:</label>
    <textarea name='body' ng-model="body" placeholder='Write a compeling body message that gets you a deal' class='form-control' required></textarea>

    <label for='email' ng-class="{ 'has-error': myRequired(addForm.email)}">Email:</label>
    <input name='email' type='email' ng-model="email" placeholder='user@server.com' class='form-control' required />

    <label for='email' ng-class="{ 'has-error': myRequired(addForm.phone)}">Phone: (optional)</label>
    <input type='text' name='phone' ng-model="phone" placeholder='8888-8888' value='' class='form-control' ng-pattern='/[\d-]{8,9}/'/>

    <label for='faceBookId' >FaceBook ID: (optional)</label>
    <input type='text' name='faceBookId' ng-model="faceBookId" placeholder='Face Book Id' value='' class='form-control pull-right'/>

    <p>&nbsp;</p> <!-- why not doing it old school for a change -->

    <button type='submit' class='pull-right' ng-disabled="addForm.$invalid">Publish</button>
  </form>
</div>
