<h3>About</h3>
<p>
  This is a demo app to show Angular knowledge. It was coded by Stephan Salazar.
</p>
<h4>Features</h4>
<ul>
  <li>Routes</li>
  <li>Modular components that can be re-mixed. Like the new add in the list view</li>
  <li>Form validation</li>
  <li>Filters</li>
</ul>
<a href='mailto:stephan.salazar@gmail.com'>stephan.salazar@gmail.com</a>
