<div class='header'>
  <div id='header' class='container'>
    <!-- right navigation -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href='#/'>Home</a></li>
      <li><a href='#/about'>About</a></li>
    </ul>

    <h2>Adds Board v 0.1</h2>
    <p> - A simple Angular | Firebase | Bootstrap implementation by <strong>Stephan Salazar </strong> :) </p>
  </div>
</div>
